@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
  background-color: #8697a6;
  color: rgb(233, 232, 232);
  font-family: 'Roboto', sans-serif;
}

.wraper {
  width: 90%;
  margin: 0 auto;
  background-color: #000;
}

/* @media screen and (min-width: 320px) {
  .wraper {
    width: 470px;
  }
} */

ul {
  list-style: none;
  text-align: left;
}

h2 {
  color: rgb(233, 230, 230);
  font-family: 'Anton', sans-serif;
}

.detailsWrapper {
  display: flex;
}

@media screen and (min-width: 320px) {
  .detailsWrapper {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .infoWraper {
    border-bottom: 1px solid #bf8756;
    width: 90%;
    margin: 0 auto;
    font-weight: 600;
    text-align: center;
  }
  .infoWraper p {
    text-align: center;
  }
  .poster {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .detailsWrapper {
    flex-wrap: nowrap;
    flex-direction: row;
  }
  .poster {
    width: auto;
  }

  .infoWraper {
    padding: 5px 5px;
    text-align: center;
    font-weight: 600;
    width: 43%;
  }

  .infoWraper:not(:last-of-type) {
    border-right: 1px solid #bf8756;
  }
}

.overview {
  color: rgb(245, 245, 245);
  padding: 3px 8px;
  font-weight: 800;
}

a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: bolder;
}

a:hover {
  color: rgb(173, 171, 171);
}
